.row
  .col.s8.padding-left
    .padding-left
      %h5= @task.name
      - @task.company_tags.each do |tag|
        .chip= tag.name
    .padding-left
      %br
      %label.active Priority
      %p= @task.priority
      %br
      %label.active Due Date
      %p= @task.date
  .right-align.col.s4
    = link_to "Edit task", edit_task_path, class: "btn z-depth-0 blue-color"
    = link_to "Delete task", task_path, method: :delete,
    class: "btn z-depth-0 grey darken-3"