= simple_form_for(@contact, html: {class: "form col s6", role: "form",
  multipart: true}) do |f|
  .row
    .col.s6
      %h5.padding-left Update Contact
      .col.s12
        .col.s6
          = f.text_field :name, placeholder: "Name"
          = f.text_field :title, placeholder: "Title"
          = f.text_field :company, placeholder: "Company"
          = f.text_area :description, placeholder: "Description",
          class: "materialize-textarea"
        .col.s6
          - if @contact.contact_avatar?
            = image_tag(@contact.contact_avatar(:small))
          -else
            = link_to image_tag('no_avatar.png', size: '65')
          %br
          = f.label "Upload contacts photo"
          .file-field.input-field
            .btn
              %span Photo
              = f.file_field :contact_avatar
            .file-path-wrapper
              %input.file-path.validate{type: "text"}
          = f.label "Contact related tags"
          = f.text_field :all_company_tags, class: "input_field col s12",
          placeholder: "Business, deal, manufactory, etc"
  .border-bottom
  .row
    .col.s6
      .col.s12
        .col.s6
          %h6.underline-blue Information
          = f.text_field :email, placeholder: "Email"
          = f.text_field :work, placeholder: "Work"
          = f.text_field :mobile, placeholder: "Mobile"
          = f.text_field :home, placeholder: "Home"
        .col.s6
          %h6.underline-blue Address
          = f.text_field :street, placeholder: "Street"
          = f.text_field :city, placeholder: "City"
          = f.text_field :state, placeholder: "State"
          = f.text_field :country, placeholder: "Country"
          = f.text_field :zip, placeholder: "Zip code"
      .padding-left.form-submit-button
        = f.submit "Save", class: "btn z-depth-0"
        = link_to "Cancel", :back, class: "btn z-depth-0 grey darken-3"