= simple_form_for(@company, html: {class: "form", role: "form", multipart: true}) do |f|
  .row
    .col.s6
      %h5.padding-left Add Company
      .col.s12
        .col.s6
          = f.text_field :name, class: "input-field col s12", placeholder: "Company name", autofocus: true
          = f.text_field :website, class: "input-field col s12", placeholder: "Website"
          = f.text_field :phone, class: "input-field col s12", placeholder: "Phone"
          = f.text_area :description, class: "materialize-textarea", placeholder: "Description"
        .col.s6
          - if @company.company_logo?
            = image_tag(@company.company_logo(:small))
          -else
            = link_to image_tag('unknown_company.jpg', size: '65')
          %br
          = f.label "Upload company logo"
          .file-field.input-field
            .btn
              %span Logo
              = f.file_field :company_logo
            .file-path-wrapper
              %input.file-path.validate{type: "text"}
          = f.label "Company related tags"
          = f.text_field :all_company_tags, class: "input_field col s12",
          placeholder: "Business, deal, manufactory, etc"
  .border-bottom
  .row
    .col.s6
      .col.s12
        .col.s6
          %h6.underline-blue Address
          = f.text_field :street, class: "input-field col s12", placeholder: "Street"
          = f.text_field :city, class: "input-field col s12", placeholder: "City"
          = f.text_field :state, class: "input-field col s12", placeholder: "State"
          = f.text_field :country, class: "input-field col s12", placeholder: "County"
          = f.text_field :zip, class: "input-field col s12", placeholder: "Zip Code"
  .padding-left.form-submit-button
    = f.submit "Save", class: "btn z-depth-0"
    = link_to "Cancel", :back, class: "btn z-depth-0 grey darken-3"