.row
  .col.s1.padding-left
    - if @company.company_logo?
      .padding-left
        = image_tag(@company.company_logo(:small))
    -else
      .padding-left
        = link_to image_tag('vader.png', size: '105'), edit_company_path
  .col.s7
    %h5= @company.name
    %p= @company.description
    .valign-wrapper
      %i.xsmall.material-icons.valign language
      .valign.info-padding-right= @company.website
      %i.xsmall.material-icons.valign phone
      .valign.info-padding-right= @company.phone
    %p
      - @company.company_tags.each do |tag|
        .chip= tag.name
  .right-align.col.s4
    = link_to "Edit company", edit_company_path, class: "btn z-depth-0 blue-color"
    = link_to "Delete company", company_path, method: :delete,
    class: "btn z-depth-0 grey darken-3"
.border-bottom
.row
  .col.s6
    .col.s12
      .col.s6
        %h6.underline-blue Address
        %p= @company.street
        %p= @company.city
        %p= @company.state
        %p= @company.country
        %p= @company.zip
.border-bottom
.row.padding-left
  .col.s12
    - if @company.company_comments.any?
      %h6.underline-blue Notes
      - @company.company_comments.each do |comment|
        %p #{comment.content}
    - else
      %p There is no comments yet.
    .nopadding
      = render 'company_comments/comment'