- if @company.company_logo?
  = image_tag(@company.company_logo(:small))
-else
  = link_to image_tag('unknown_company.jpg', size: '65'), edit_company_path
%h5= @company.name
%p= @company.website
%p= @company.description
%p= @company.phone
%p
  - @company.company_tags.each do |tag|
    .chip= tag.name
%p= @company.street
%p= @company.city
%p= @company.state
%p= @company.country
%p= @company.zip

%h5 Comments
- @company.company_comments.each do |comment|
  %p= comment.content
  = link_to "Edit", edit_company_company_comment_path(@company, comment)
= render 'company_comments/comment'

= link_to "Edit", edit_company_path, class: "btn z-depth-0"
= link_to "Delete", company_path, method: :delete,
class: "btn z-depth-0 grey darken-3"
