#side-nav.fixed
  %ul
    %li= link_to "User", current_user
    %li= link_to "User", current_user
  %ul.right.hide-on-med-and-down
    %li= link_to "User", current_user
    %li= link_to "User", current_user
    %li= link_to "User", current_user
  %a{ href: "#", data: { activates: "slide-out" }, class: "button-collapse"} Yiels